*{
    margin: 0;
    box-sizing: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --background-color: rgb(160, 176, 247);
    --primary-color: #23293d;
    --secondary-color: rgb(226, 226, 226);
    --error-color: crimson;
    --color-white: #ffffff;
  }

h1 {
    text-align: center;
    color: var(--primary-color);
    width: 100%;
}

.linha{
    position: relative;
    width: 100%;
    
}


p{
    margin-top: 20px;
    text-align: left;
    font-size: 20px;
    
}

.geral {
    width: 400px;
    height: 100%;
    /*background-color: rgb(245, 228, 73);*/
    background-color: var(--background-color);
    border: 10px solid rgba(255, 255, 255, 0.5);
    margin: 10px;
    padding: 20px;
    box-shadow: 5px 5px 20px rgb(170, 170, 170);
    
}



/* ---- FORMULÁRIO ---- */

form {
    margin-top: 10px; 
    display: grid;
    padding: 10px;
    justify-content: center;
}

input{
    padding: 5px;
    border-radius: 7px;
    border: 1px solid var(--secondary-color);
    outline: 0;
}

input:focus{
    background: var(--secondary-color);
}

label{
    margin-top: 10px;
    font-weight: 700;
    color: var(--primary-color);
}


#btnAdd {
    background-color: rgb(30, 97, 30);
    border: none;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 18px;
    font-weight: 500;
    margin-top: 15px;
    transition: ease 0.7s;
    
}

#btnAdd:hover {
    background-color: rgb(36, 167, 36);
    box-shadow: 2px 2px 5px rgb(105, 121, 102);
}

#btnExc{
    background-color: rgb(161, 13, 43);
    border: none;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 18px;
    font-weight: 500;
    margin-top: 15px;
    transition: ease 0.7s;
}

#btnExc:hover {
    background-color: var(--error-color);
    box-shadow: 2px 2px 5px rgb(105, 121, 102);
}

/* ---- TABELA ---- */

table{
    border-collapse: collapse;
    
    width: 100%;
}

table th{
    background-color: var(--primary-color);
    color: var(--color-white);
}

table td, th{
    text-align: left;
    border-bottom: 1px solid var(--secondary-color);
}

table td img{
    width: 24px;
}

.centro{
    text-align: center;
}

tfoot td{
    border: none;
    padding: 5px;
}

.colTotal{
    text-align: end;
    font-weight: bold;
}